#output {
    width: 640px;
    position: relative;
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
}

#streamingContainer {
    width: 640px;
    height: 480px;
    background-color: #000;
    position: relative;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#streamingView {
    width: 100%;
    height: 100%;
}

#streamingContainer a,
#streamingContainer a:hover,
#streamingContainer a:visited,
button.js-push-button {
    text-decoration: none;
    font-size: 50px;
    width: 60px;
    height: 60px;
    display: block;
    /*border-radius: 10px;*/
    /*background-color: #aaa;*/
    text-align: center;
    vertical-align: middle;
    /*border: 1px solid #555;*/
    cursor: pointer;
    color: #fff;
    position: absolute;
}

#streamingContainer a#findLightDirection {
    left: 80px;
    top: 10px;
}
#streamingContainer a#navigate {
    left: 10px;
    top: 10px;
}
#streamingContainer a#beep {
    right: 150px;
    top: 10px;
}
#streamingContainer a#toggleLed {
    right: 80px;
    top: 10px;
}
#streamingContainer a#moveForwardLeft {
    right: 130px;
    bottom: 130px;
}
#streamingContainer a#moveForward {
    right: 70px;
    bottom: 150px;
}
#streamingContainer a#moveForwardRight {
    right: 10px;
    bottom: 130px;
}
#streamingContainer a#turnLeft {
    right: 140px;
    bottom: 70px;
}
#streamingContainer a#stop {
    right: 70px;
    bottom: 70px;
}
#streamingContainer a#turnRight {
    right: 0px;
    bottom: 70px;
}
#streamingContainer a#moveBackwardLeft {
    right: 130px;
    bottom: 10px;
}
#streamingContainer a#moveBackward {
    right: 70px;
    bottom: 10px;
}
#streamingContainer a#moveBackwardRight {
    right: 10px;
    bottom: 10px;
}
#streamingContainer a#getTemperature {
    left: 80px;
    bottom: 10px;
}
#streamingContainer a#getSoundLevel {
    left: 10px;
    bottom: 10px;
}
#streamingContainer a#getLightLevel {
    left: 150px;
    bottom: 10px;
}
#streamingContainer a#toggleStreaming {
    right: 10px;
    top: 10px;
}

button.js-push-button {
    left: 250px;
    bottom: 10px;
    background: none;
    border: none;
    font-size: 20px;
    width: 100px;
}